@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Patua+One&family=Roboto:wght@500&display=swap');

* {
	box-sizing: border-box;
	padding: 0px;
	width: 100%;
}

body {
	background-color: rgb(228, 189, 115);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.master-container {
	display: flex;
	flex-direction: column;
	justify-content: baseline;
}

.form-container {
	font-family: 'Seminole One';
	font-weight: bolder;
	width: 50%;
	line-height: 2em;
	display: flex;
	color: rgba(47, 11, 146, 0.854);
	font-size: 1.5em;
	position: relative;
	display: block;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(60, 55, 189);
	flex-direction: column;
	align-self: center;
	text-align: left;
	margin: 6em 2rem 2rem 2rem;
	padding: 1.5em 1em;
	border: solid .5m black;
	border-radius: 15px;
	background-image: url("https://i.imgur.com/VgRFq0Y.jpg/");
	background-size: cover;
	box-shadow: 15px 15px 15px 10px rgb(99, 98, 98);
}

/* === Top Bar === */
.card-title {
	color: rgb(237, 229, 229);
	background-color: black;
	text-align: center;
	font-size: 1.5em;
	/* border-bottom: solid .2em black; */
	font-weight: bolder;
}

.addGroceryButton {
	background-color: rgb(55, 55, 157);
	color: rgba(243, 236, 236, 0.934);
	font-weight: bolder;
	width: 25%;
	align-self: center;
	align-content: center;
	margin: 0 0 .3em 3em;
	padding: 0;
	border-radius: 30px;
	font-size: 1em;
	text-align: center;
}

/* === Main Content === */
.addDetails-container {
	padding: 0;
	margin: 0.1rem 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}


.name-label {
	width: 14em;
	display: flex;
	margin-left: 50px;
	/* justify-content: flex-start; */
	align-items: center;
	/* border-bottom: .1em solid black; */
}

.name-label label {
	color: rgba(21, 24, 170, 0.854);
	font-size: 3rem;
	align-items: center;
	text-align: center;
	transform: scale(1, .85);
}

.name-input {
	text-align: center;
	align-self: center;
	height: 50px;
	width: 80%;
	display: flex;
	/* border-bottom: .1em solid black; */
}

#name {
	/* background: transparent; */
	border: none;
	font-style: italic;
}

/* === Title === */
.title-container {
	margin: 0;
	display: flex;
}

input {
	height: 6vh;
	width: 75%;
	color: black;
	align-content: center;
	margin-left: 25px;
	padding: 0 0 0 5px;
}

.title-label {
	width: 9em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.title-label label {
	font-size: 1rem;
	transform: scale(1, .85);
}

.title-input {
	padding: 0 0 0 1em;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* border-bottom: .1em solid black; */
}

#title {
	background: transparent;
	border: none;
	font-style: italic;
}

.subContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.img-input {
	background-color: white;
	height: 7vh;
	margin-top: 8px;
}
