@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Patua+One&family=Roboto:wght@500&display=swap');

* {
	box-sizing: border-box;
	padding: 0px;
	width: 100%;
}

body {
	background-color: rgb(228, 189, 115);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.form-container {
	font-family: 'Seminole One';
	font-weight: bolder;
	width: 50%;
	display: flex;
	color: rgba(114, 237, 118, 0.854);
	font-size: 2rem;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	flex-direction: column;
	justify-content: right;
	text-align: right;
	margin: 6em 2rem 2rem 2rem;
	padding: 1.5em 1em;
	border: solid .5m black;
	border-radius: 15px;
	background-image: url("https://i.imgur.com/PcZds5T.jpg/");
	background-blend-mode: lighten;
	box-shadow: 15px 15px 15px 10px rgb(99, 98, 98);
}

/* === Top Bar === */
.card-title {
	color: white;
	background-color: black;
	font-size: 20px;
	border-bottom: solid .2em black;
	font-weight: bolder;
}

.addGrocery {
	background-color: ;
	margin: 0 0 .3em 0;
	padding: 0;
	font-size: 1.5em;
	text-align: center;
	transform: scale(1, .75);
}

.library {
	text-align: center;
	margin: 0;
	padding: 0;
	font-size: .8em;
	transform: scale(1, .85);
}

/* === Main Content === */
.addDetails-container {
	padding: 0;
	margin: 0.1rem 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.name-container {
	margin: 0;
	display: flex;
	flex-direction: row;
}

.name-label {
	width: 14em;
	display: flex;
	margin-left: 50px;
	/* justify-content: flex-start; */
	align-items: center;
	/* border-bottom: .1em solid black; */
}

.name-label label {
	color: rgba(21, 24, 170, 0.854);
	font-size: 3rem;
	align-items: center;
	text-align: center;
	transform: scale(1, .85);
}

.name-input {
	padding: 0 0 0 1em;
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
	align-self: center;
	height: 40px;
	width: 100%;
	display: flex;
	/* border-bottom: .1em solid black; */
}

#name {
	/* background: transparent; */
	border: none;
	font-style: italic;
}

/* === Title === */
.title-container {
	margin: 0;
	display: flex;
}

input {
	height: 4vh;
}

.title-label {
	width: 9em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.title-label label {
	font-size: 1rem;
	transform: scale(1, .85);
}

.title-input {
	padding: 0 0 0 1em;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* border-bottom: .1em solid black; */
}

#title {
	background: transparent;
	border: none;
	font-style: italic;
}

.subContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* === Non-Required Section Labels === */
.notRequired-container {
	margin: .3rem 0 0 0;
	height: 2.4rem;
	display: flex;
}

.notRequired-label {
	width: 6.3em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-top: .3em double black;
	border-right: .1em solid black;
	/* border-bottom: .1em solid black; */
}

.notRequired-label p {
	font-size: 1rem;
	transform: scale(1, .85);
}

.img-input {
	background-color: white;
	height: 3vh;
	margin-top: 8px;
}