@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Patua+One&family=Roboto:wght@500&display=swap');

* {
	box-sizing: border-box;
	padding: 0px;
	width: 100%;
}

body#eaten {
	background-color: lavender;
	background-image: url("https://i.imgur.com/xbFsf2G.jpg")
}

.form-container {
	font-weight: bolder;
	margin: 2rem 2rem 2rem 2rem;
	padding: 1.5em 1em;
	border: solid .1em black;
	border-radius: 5px;
	font-family: 'Fredoka+One', cursive;
	background-image: url("https://i.imgur.com/PcZds5T.jpg/");
	box-shadow: 5px 5px 5px 2px rgb(99, 98, 98);
}
